<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/litera/bootstrap.min.css"
    />

    <!-- FA icons -->
    <script
      src="https://kit.fontawesome.com/975e7152bd.js"
      crossorigin="anonymous"
    ></script>

    <!-- Custom CSS -->
    <style>
      .card-image {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
      .card-link {
        color: #343a40;
      }
      .card-link:hover {
        color: #343a40;
      }
      .card-highlight {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.25rem;
      }
      .card-highlight:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
      .navbar-brand i {
        display: inline-block;
        margin: 0 10px;
        width: 20px;
      }
    </style>

    <title>Aioli - Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        <i class="fas fa-apple-alt navbar-brand"></i>
        Aioli
      </a>
    </nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a>Home</a></li>
    </ol>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Aioli</h1>
        <h2>Recipes, where you need them.</h2>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <a href="recipe.html" class="card-link">
            <div class="card mb-3">
              <div class="card-highlight"></div>
              <h4 class="card-header">Placeholder</h4>
              <img
                class="card-image"
                style="width: 100%; display: block;"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                alt="Card image"
              />
            </div>
          </a>
        </div>

        <div class="col-lg-4">
          <a href="recipe.html" class="card-link">
            <div class="card mb-3">
              <div class="card-highlight"></div>
              <h4 class="card-header">Placeholder</h4>
              <img
                class="card-image"
                style="width: 100%; display: block;"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                alt="Card image"
              />
            </div>
          </a>
        </div>

        <div class="col-lg-4">
          <a href="recipe.html" class="card-link">
            <div class="card mb-3">
              <div class="card-highlight"></div>
              <h4 class="card-header">Placeholder</h4>
              <img
                class="card-image"
                style="width: 100%; display: block;"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                alt="Card image"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
